<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card" ng-repeat="blog_entry in blog_entries">
      <div class="item item-divider">{{blog_entry.title}}</div>
      <div class="item item-body">
        <div>
          {{blog_entry.content}}
        </div>
      </div>
    </div>
    <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Last Name">
    </label>
    <label class="item item-input">
      <textarea placeholder="Comments"></textarea>
    </label>
  </div>
  </ion-content>
</ion-view>
